@model List<DataAccessLayer.routedata>
@{
    ViewBag.Title = "routepage";
}

<h2>routepage</h2>

@foreach(var i in Model)
{
    <span>@i.routeid</span>
    <span>@i.fromlocation</span>
    <span>@i.tolocation</span>
}