@model List<DataAccessLayer.routedata>
@{
    ViewBag.Title = "routepage";
   
}
  
<h2>routepage</h2>
@{
    if (Model.Any())
    {

        <table border="1">
            <tr>
                <th>
                    RouteId
                </th>
                <th>
                    From Location
                </th>
                <th>
                    To Location
                </th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        @i.routeid
                    </td>
                    <td>
                        @i.fromlocation
                    </td>
                    <td>
                        @i.tolocation
                    </td>
                </tr>
            }
        </table>

    }
    else
    {
        <span>No Routes Found</span>
    }
}

<a href="~/travel/travelhome">Click Here to check other travel options</a>