
@{
    ViewBag.Title = "travelhome";
    Layout = null;
}

<h2>travelhome</h2>

@using (Html.BeginForm("routepage", "travel"))
{
    <span>From Location:</span>
    @Html.DropDownList("fromlocation", (SelectListItem[])ViewBag.locations,"from location");
    <br />
    <span>To Location:</span>
    @Html.DropDownList("tolocation", (SelectListItem[])ViewBag.locations,"destination location");
    <br />
    <span>Mode Of Travel</span>
    @Html.DropDownList("modeoftravel", (SelectListItem[])ViewBag.modeoftravel);
    <br />
    <input type="submit" />
}
