

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mainpage</title>
</head>

<body>
    <div>
        <button type="button" onclick="window.location.href='http://localhost:49402/travel/travelhome'">Travel</button>
        <button type="button" onclick="window.location.href='http://localhost:49402/restaurant/Restaurant'">Restaurants</button>
        <button type="button" onclick="window.location.href='http://localhost:49402/lodge/Lodge'">Lodges</button>
        <button type="button" onclick="window.location.href='http://localhost:49402/placestovisit/viewallplaces?'">Place To Visit</button>


    </div>
</body>
</html>
