@model DataAccessLayer.placedata


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>place</title>
</head>
<body>
    <div>
        <table border="1">
            @{
                <tr>
                    <th>place to visit id</th>
                    <th>place name</th>
                    <th>address</th>
                    <th>rating</th>
                </tr>

                <tr>
                    <td>
                        <span>@Model.ptvid</span>
                    </td>
                    <td>
                        <span>@Model.placename</span>
                    </td>
                    <td>
                        <span>@Model.address</span>
                    </td>
                    <td>
                        <span>@Model.rating</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"><a href="~/common/addcomment?itemtype=place&itemid=@Model.ptvid">Click Here To Add Rating</a></td>
                </tr>
            }
        </table>
        <a href="~/placestovisit/viewallplaces">All Places</a>
    </div>
</body>
</html>
