@model List<DataAccessLayer.placedata>


<!DOCTYPE html>

<html>

<head>
  
    <meta name="viewport" content="width=device-width" />
    <title>viewallplaces</title>
</head>

<body>
    <div>
        <table border="1">
            <tr>
                <th>
                    <b>PlaceId</b>
                </th>
                <th>
                    <b>
                        PlaceName
                    </b>
                </th>
            </tr>

            @{
                foreach (var i in Model)
                {
                    <tr>
                        <td>
                            <span>@i.ptvid</span>
                        </td>
                        <td>
                            <a href="~/placestovisit/place?pid=@i.ptvid"><span>@i.placename</span></a>
                        </td>

                    </tr>
                }
            }


        </table>
        <a href="~/placestovisit/viewallplaces">All Places Home</a>
    </div>
</body>
</html>
